/* Ensure the html and body take full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Corrected background color syntax */
}

/* Ensure the root div (where your React app is mounted) also takes full height */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Style for the AppBar */
/* AppBar Styles */
/* AppBar Styles */
.appbar {
  height: 110px;
  display: flex;
  align-items: center;
  padding: 0 20px; /* Adjust the padding as needed */
  box-shadow: none; /* Remove default shadow if not needed */
  background-color: #068306; /* Ensure background color is applied */
}

.appbar .toolbar {
  display: flex;
  align-items: center;
  width: 100%;
}
.appbar img {
  width: 80px;
  height: 80px;
  border: 1px solid #fffefe;
  border-radius: 50px;
  margin-right: 20px; /* Add spacing to the right of the image */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.appbar img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}


.appbar .links {
  display: flex;
  align-items: center;
}

.appbar .links a {
  color: white; /* Link color */
  margin-left: 20px; /* Spacing between links */
  text-decoration: none; /* Remove underline from links */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
}

.appbar .links a:hover {
  color: #ff6f61; 
  text-decoration: underline; 
}




.content {
  flex: 1;
}

/* Footer */
footer {
  background-color: #068306;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.footer-links a:hover {
  color: #ff6f61;
  text-decoration: underline;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.social-media a {
  color: #fffafa;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #ff6f61;
}

.footer-copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
